@model Produit
@{
    List<Fournisseur> fournisseur = Produit.lf;
    Fournisseur f1;// Cast the list
}
<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="name">Name</label> --> <input asp-for="designation" class="form-control" type="text" placeholder="Designation">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="name">Name</label> --> <input asp-for="unite" class="form-control" type="text" placeholder="Unite">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group" style="display:flex;align-items:center;justify-content:center">
                                
                                <label for="Prix" class="form-label col-sm-3">Prix Unitaire</label>
                                <div class="col-sm-8">
                                    <input asp-for="prix_unitaire_ht" class="form-control" type="number" placeholder="Prix Unitaire">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--
                <div class="row">
                <div class="form-floating">
                        <input type="number" class="form-label col-sm-3" id="floatingPassword" placeholder="Password">
                        <label class="form-control col-sm-8" for="floatingPassword">Password</label>
                </div>
                </div>-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">

                            <div class="input-group" style="display:flex;align-items:center;justify-content:center"> 
                                <label for="PrixHt" class="form-label col-sm-3">Prix HT  </label>
                                <div class="col-sm-8">
                                    <input asp-for="prix_ht" class="form-control" type="number" placeholder="Prix HT">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group" style="display:flex;align-items:center;justify-content:center">
                                <label for="tva" class="form-label col-sm-3">Tva  </label>
                                <div class="col-sm-8">
                                <input asp-for="tva" class="form-control" type="number" placeholder="TVA"> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" style="display:flex;align-items:center;justify-content:center">
                            <label for="tva" class="form-label col-sm-3">Tva  </label>
                            <div class="col-sm-8">
                            <select asp-for="fournisseur_id" class="form-control" >
                                <option value="Fournisseur Name" class="form-control">Please select</option>
                                @foreach (Fournisseur f in fournisseur)
                                {
                                    <option value="@f.fournisseur_id">@f.nom</option>
                                    
                                }
                            </select>
                            </div>

                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info" asp-action="Create"><i class="bi bi-plus-circle"></i> Add </button>
                <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">By Booking this appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a> </div> <button class="btn btn-primary btn-block confirm-button">Confirm</button>
            </form>
        </div>
    </div>
</div>

