@model Devis

@{
    ViewData["Title"] = "Delete";
}

<div class="modal fade" id="deleteModal-@Model.devis_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer Devis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-right:10px;margin-bottom:10px">
                    <img src="~/assets/flaticon/close-0.png" width="30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="mod">
                <h6>Êtes-vous sûr(e) de vouloir supprimer ce devis ?</h6>
                <form action="Delete">
                    <button type="submit" class="btn bg-gradient-danger" asp-action="Delete" asp-route-id="@Model.devis_id">
                        Supprimer
                    </button>
                    <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close" style="margin-left:50px;">
                        Annuler
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>