@model Fournisseur;
<div class="modal fade" id="editModal-@Model.fournisseur_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Fournisseur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mod">

                <div class="container mt-2 mb-2  justify-content-center">
                    <div class="card px-1 py-4">
                        <div class="card-body">

                            <form asp-action="Edit">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="display:flex;align-items:center;justify-content:center;">
                                            <div class="input-group">

                                                <label for="tva" class="form-label col-sm-3">Nom </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input asp-for="nom" class="form-control" type="text" placeholder="Nom" required>
                                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="display:flex;align-items:center;justify-content:center;">
                                            <div class="input-group">
                                                <label for="address" class="form-label col-sm-3">Address  </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input asp-for="address" class="form-control" type="text" placeholder="Address" required>

                                                        <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="display:flex;align-items:center;justify-content:center;">
                                            <div class="input-group">
                                                <label for="mobile" class="form-label col-sm-3">Mobile  </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input asp-for="telephone" class="form-control" type="number" placeholder="Mobile" required>

                                                        <span class="input-group-text"> <i class="fas fa-mobile-alt"></i></span>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="display:flex;align-items:center;justify-content:center;">
                                            <div class="input-group">
                                                <label for="mobile" class="form-label col-sm-3">Mobile  </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input asp-for="ville" class="form-control" type="text" placeholder="Ville" required>

                                                        <span class="input-group-text"> <img src="~/assets/flaticon/city.png" width="18px"></span>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="display:flex;align-items:center;justify-content:center;">
                                            <div class="input-group">
                                                <label for="mobile" class="form-label col-sm-3">Code Postal  </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input asp-for="code_postal" class="form-control" type="text" placeholder="Code Postal" required>
                                                        <span class="input-group-text"> <img src="~/assets/flaticon/mailbox.png" width="18px"></span>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="display:flex;align-items:center;justify-content:center;">
                                            <div class="input-group">
                                                <label for="mat" class="form-label col-sm-4 mt-2">Matricule Fiscale  </label>
                                                <div class="col-sm-7">
                                                    <div class="input-group">
                                                        <input asp-for="matricule_fiscale" class="form-control" type="text" placeholder="Matricule Fiscale" required>

                                                        <span class="input-group-text">  <img src="~/assets/flaticon/tax.png" width="18px"></span>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="display:flex;align-items:center;justify-content:center;">
                                            <div class="input-group">
                                                <label for="idU" class="form-label col-sm-4 mt-2">Identifiant Unique  </label>
                                                <div class="col-sm-7">
                                                    <div class="input-group">

                                                        <input asp-for="identifiant_unique" class="form-control" type="text" placeholder="Identifiant Unique" required>
                                                        <span class="input-group-text"> <i class="fas fa-id-card-alt"></i></span>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info" asp-route-id=@Model.fournisseur_id asp-action="Edit"><i class="bi bi-plus-circle"></i> Confirmer </button>
                                <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close" style="margin-left:10px;">
                                    Annuler
                                </button>
                            </form>
                            
                                
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>